* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
}

.filter-details {
    border: 1px solid black;
    margin: 5px 10px;
}

.filter-details > h3 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 100;
}

select {
    margin-left: 10px;
}

#catDropdown {
    margin-bottom: 15px;
}

#priorityDropdown {
    margin-top: 15px;
}

.container-table {
  display: flex;
  justify-content: center;
}

.view-res {
    color: red;
}

h3 {
    font-weight: 100;
}

h5 {
    font-weight: 600;
    color: red;
    margin: 0;
}

table {
    background-color: rgb(235, 235, 235);
    border-collapse: collapse;
    margin: 5px 10px;
}

table, th, td {
    border: 1px solid white;
}

table > thead {
    color: white;
    background-color: rgb(0, 111, 181);
}

th, td {
    padding: 8px 15px;
    text-align: center;
}

.add {
    color: white;
    background-color: rgb(0, 111, 181);
    margin-bottom: 0;
}

.main-add {
    background-color: rgb(235, 235, 235);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.add-form {
    padding: 15px;
    border: 1px solid grey;
    margin: 0px auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

#defect-desc {
    padding: 12px;
}

.submit {
    margin-top: 20px;
}

#categoryDropdown,#priority {
    margin-bottom: 15px;
    height: 40px;
}

.status-closed {
  color: grey;
  text-decoration: none;
}

.close-but {
    border: none;
    background-color:  rgb(235, 235, 235);
    font-size: 16px;
    color: rgb(0, 111, 181);
}

.close-but:hover{
    cursor: pointer;
}

.status-open {
  color: rgb(0, 111, 181);
}