body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

.container {
  border: 1px solid grey;
  width: 400px;
}

.container > h1 {
  margin-top: 0px;
  padding-bottom: 10px;
}

.login {
  background-color: rgb(0, 111, 181);
  color: white;
  margin: 0px;
}

.login-div{
  background-color: rgb(235, 235, 235);
  
}

.login-maindiv {
  border: 1px solid grey;
  margin: 0px 25px;
  border-radius: 15px;
}

input {
  margin: 15px;
  height: 30px;
  padding-left: 5px;
  border-radius: 0px;
  border: 1px grey solid;
}

.signin {
  margin-bottom: 15px;
}

input:focus, textarea:focus, select:focus {
  border: none;
  outline: none;
  border-radius: 0px;
  border: 1px black solid;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
